<?xml version="1.0" encoding="utf-8"?>
<!--
Этот файл используется процессом публикации или упаковки вашего веб-проекта. Можно настроить поведение этого процесса,
изменив этот файл MSBuild. Подробности см. на странице https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/59f00977-1358-4946-9da4-4308545d79c0/resourcegroups/Social20211030023243ResourceGroup/providers/Microsoft.Web/sites/Social20211030035439</ResourceId>
    <ResourceGroup>Social20211030023243ResourceGroup</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://social20211030035439.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ProjectGuid>89a72b65-ab12-484f-99c5-9351e2199285</ProjectGuid>
    <PublishUrl>https://social20211030035439.scm.azurewebsites.net/</PublishUrl>
    <UserName>$Social20211030035439</UserName>
    <_SavePWD>True</_SavePWD>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>